{% include "header.html" %}
<div class="content">
	<div class="white">
		<h1>About</h1>

		GLua.net is a service that takes some of the most popular Garry's Mod addons that are bound by SVN and packages them into zips for 
		convenient downloads.

		<h1>History</h1>
	
		GLua.net was initially started as the website for the famed GLua LUA Editor by VoiDeD of FP. After the project died, we started a new 
		project under the same domain. In early 2008, GLua.net opened its doors as the premier SVN packager for Garry's Mod addons. We've 
		grown at a pretty brisk pace ever since.

		<h1>Contact</h1>

		The staff tries to be pretty accessible. We love getting suggestions and props for our work. We also love knowing when things break 
		(as they sometimes do) For all email related inquiries, please email <a href="mailto:gmp@glua.net">gmp@glua.net</a>. I'll try to get 
		back to you as 	soon as possible. If you want to have a slightly more rapid response, try our IRC channel on Gamesurge: #glua 
		(there's a convenient link up top).
		<br /><br />
		
		<div class="clear"></div>
		
	</div>
</div>
{% include "pfooter.html" %}
{% include "footer.html" %}
