{% include "header.html" %}
<div class="content">
	<div class="white">
		<h1>Legal</h1>

		GLua.net takes no credit for downloads on the site. All work is &copy; the original author(s). All &trade; owned by their respective owners. Site selection of SVN packages is based on observed SVN popularity / user requests.

		<h1>Privacy</h1>

		GLua.net automatically collects information for the purpose of tracking usage of both the site and mirrors. We're not planning on selling this data, it's pretty useless to anyone else (we think).

		<h1>TOS</h1>

		GLua.net reserves the right to ban your sorry ass for abusing our services<br />
		
		<h4>Any issues should be emailed to <a href="mailto:legal@glua.net">legal@glua.net</a></h4>
		<h5>GLua.net reserves the right to update this document at any time. By using this site, you agree to the terms set forth in the previous sections.</h5>
		<div class="clear"></div>
	</div>
</div>
{% include "pfooter.html" %}
{% include "footer.html" %}
