{% include "header.html" %}
<div class="content">
	<div class="white">
		<h2>Other Projects and Things</h2>

		Here are a few random interesting things hosted under GLua's domain
		
		<br />
		<br />

		<h3>Gaming</h3>
		
		Minecraft Server [mcs.glua.net] <br />
		<a href="http://map.glua.net">Minecraft Server Map</a> <br />
		<a href="http://mc.glua.net">Minecraft Server Forum</a> <br />

		<h3>Random</h3>

		<br />

		<div class="clear"></div>
		
	</div>
</div>
{% include "pfooter.html" %}
{% include "footer.html" %}
